.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-height: 480px;
  padding: 48px;
  margin: 8px 0;
}
